<div class="main">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="main/admin/register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Пусто</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Пусто</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Пусто</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>