<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="main">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="main/docs" *ngIf="!isAdmin">Документы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="main/messages">Сообщения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="main/help">Справочная</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link text-info" href="main/admin">Админка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="main/account">{{Email}}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Поиск..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>
