<div *ngFor="let user of Users" class="card">
    <div class="card-body">
        <h4 id="Email" class="card-title">
            {{user.user.email}}
        </h4>
        <div class="form-group">
            <label for="Secondname">Фамилия:</label>
            <h5 id="Secondname">
                {{user.user.secondname}}
            </h5>
        </div>
        <div class="form-group">
            <label for="Firstname">Имя:</label>
            <h5 id="Firstname">
                {{user.user.firstname}}
            </h5>
        </div>
        <div class="form-group">
            <label for="Middlename">Отчество:</label>
            <h5 id="Middlename">
                {{user.user.middlename}}
            </h5>
        </div>
        <div class="form-group">
            <label for="Age">Возраст:</label>
            <h5 id="Age">
                {{user.user.age}}
            </h5>
        </div>
        <div class="form-group">
            <label for="Position">Должность:</label>
            <h5 id="Position" class="text-primary">
                {{user.user.position}}
            </h5>
        </div>
        <div *ngIf="user.roles.length != 0; then hasRoles else noRoles"></div>
        <ng-template #hasRoles>
            <label>Роли:</label>
            <ul class="list-group">
                <li *ngFor="let role of user.roles" class="list-group-item">{{role}}</li>
            </ul>
        </ng-template>
        <ng-template #noRoles>
            <div class="alert alert-secondary" role="alert">
                Нет ролей
            </div>                    
        </ng-template>
    </div>
</div>